<nav class="teal">
  <ul class="right">
    <li><a class="modal-trigger" href="#modal1"><%= __("create_post") %></a></li>
    <li><a class="username"></a></li>
    <li><a href="/logout"><%= __("logout") %></a></li>
  </ul>
</nav>

<h2 class="white-text"><%= __("publications") %></h2>

<div id="posts" class="row">
</div>

<div id="post_template" style="display:none">
  <div class="col s12 m6">
    <div class="card">
      <div class="card-content">
           <span class="card-title">
            <i class="material-icons xl4">person</i>
              <span class="grey-text text-darken-4">#user_name</span>
          </span>
        <span class="grey-text text-darken-1 ultra-small"> #createdAt</span>
        <p class="post_content_p">#post_content</p>
        <br/>
        <%= __("responses") %>: #responses_count
      </div>
      <div class="card-action">
        <a href="/post/#post_id"><%= __("view_responses") %></a>
      </div>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Create Post</h4>
    <form class="col s12 form-create-post" onsubmit="createPost();return false;">
      <div class="form-container">
        <div class="row">
          <div class="col s12">
            <label><%= __("post_content") %></label>
            <br/>
            <textarea name="post_content" required></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <a onclick="createPost()"
       class="modal-close btn waves-effect waves-light teal signIn"><%= __("add") %></a>
  </div>
</div>


<script>
  var template_post = $("#post_template").html();
  var posts = [];
  $(document).ready(function () {
    $('.modal').modal();
  });

  function createPost() {
    $.ajax({
      method: "POST",
      url: "/createPost",
      data: $('.form-create-post').serialize()
    }).done(function (post) {
      posts.unshift(post);
      fillPosts();
    });
  }

  function fillPosts() {
    var deferred = Q.defer();
    var posthtml = "";
    for (var k in posts) {
      var temphtml = (template_post + "");
      var post = posts[k];
      posthtml += temphtml
        .replace("#post_content", post.post_content)
        .replace("#user_name", post.user_name)
        .replace("#post_id", post.post_id)
        .replace("#post_id", post.post_id)
        .replace("#post_id", post.post_id)
        .replace("#responses_count", post.responses_count)
        .replace("#createdAt", post.createdAt);

      // for(var i in post.responses) {
      //   $(".responses").hide()
      // }

    }
    $("#posts").html(posthtml);
    //$(".responses").hide();

    deferred.resolve();
  }

  function getProfileUser() {
    var deferred = Q.defer();
    $.ajax({
      method: "GET",
      url: "/profile",
      error: function (request, status, error) {
        parent.location.href = "/"
      }
    }).done(function (user) {
      $(".username").html(user.name + " " + user.lastname);
      deferred.resolve();
    });
    return deferred.promise;
  }

  function getPost() {
    var deferred = Q.defer();
    $.ajax({
      method: "GET",
      url: "/allPosts"
    }).done(function (response) {
      posts = response;
      fillPosts();
      deferred.resolve();
    });
    return deferred.promise;
  }

  Q()
    .then(getProfileUser)
    .then(getPost)
    .done();

</script>
