<!DOCTYPE html>
<html>
<head>
  <title><%= __("name_app") %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.js"></script>
</head>
<body>

<style>
  body {
    background: #222;
  }

  .delete {
    margin-bottom: 40px
  }

  small .material-icons {
    font-size: 10px !important;
  }

  #posts {
    margin: 2%
  }

  h2, h5 {
    margin: 3%
  }
</style>


<nav class="teal">
  <ul class="right">
    <li><a href="/posts"><%= __("all_post") %></a></li>
    <li><a class="username"></a></li>
    <li><a href="/logout"><%= __("logout") %></a></li>
  </ul>
</nav>

<h2 class="white-text"><%= __("publication") %>: <%= post.post_id %></h2>
<h5>
  <span class="grey-text text-darken-1 ultra-small"><i class="material-icons">date_range</i><%= post.createdAt %></span>
  <br/>
  <span class="grey-text text-darken-1 "><i class="material-icons">person</i><%= post.user_name %></span>
  <div class="white-text "><%= post.post_content %></div>
</h5>

<div class="row">
  <div class="col s12">
    <div id="profile-page-wall-post" class="card">
      <div class="card-profile-title">
        <div class="row card-action">
          <div class="col s12 delete row">
            <button class="btn right red white-text" onclick="deletePost()"><%= __("delete") %></button>
          </div>
          <div>
            <h4><%= __("responses") %>: </h4>
            <ul id="responses" class="collection with-header">

            </ul>
          </div>
        </div>
        <div class="card-action row">
          <div class=" col s12 margin">
            <label for="profile-comments" class=""><%= __("add_response") %></label>
            <input id="profile-comments" type="text" class="validate margin">
            <a onclick="addResponse(<%= post.post_id%>)"
               class="btn waves-effect waves-light teal signIn"><%= __("add_response") %></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="template_responses" style="display:none">
  <li class="collection-item">
    <small><a><i class="material-icons">person</i> #user_name</a></small>
    <small><i class="material-icons">date_range</i> #createdAt</small>
    <small>#response_content</small>
  </li>
</div>

<script>
  var template_responses = $("#template_responses").html();
  var responses = [];
  $(document).ready(function () {
    $('.modal').modal();
  });

  function addResponse(post_id) {
    $.ajax({
      method: "POST",
      url: "/addResponse",
      data: {post_id: post_id, response_content: $("#profile-comments").val()}
    }).done(function (post) {
      responses.push(post);
      $("#profile-comments-" + post_id).val("");
      fillResponses();
    });
  }

  function fillResponses() {
    var deferred = Q.defer();
    var posthtml = "";
    for (var k in responses) {
      var temphtml = (template_responses + "");
      var response = responses[k];
      posthtml += temphtml
        .replace("#response_content", response.response_content)
        .replace("#user_name", response.user_name)
        .replace("#createdAt", response.createdAt);

    }
    $("#responses").html(posthtml);
    //$(".responses").hide();

    deferred.resolve();
  }

  function getProfileUser() {
    var deferred = Q.defer();
    $.ajax({
      method: "GET",
      url: "/profile"
    }).done(function (user) {
      console.log(user.name + " " + user.lastname);
      $(".username").html(user.name + " " + user.lastname);
      deferred.resolve();
    });
    return deferred.promise;
  }

  function deletePost() {
    var opcion = confirm("Confirmas que deseas eliminar el post?");
    if (opcion == true) {
      $.ajax({
        method: "DELETE",
        url: "/deletePost",
        data: {post_id: "<%= post.post_id %>"}
      }).done(function (res) {
        parent.location.href = "/posts"
      });
    }
  }

  function getResponses() {
    var deferred = Q.defer();
    $.ajax({
      method: "GET",
      url: "/allResponses/<%= post.post_id %>",
      error: function (request, status, error) {
        parent.location.href = "/"
      }
    }).done(function (res) {
      responses = res;
      fillResponses();
      deferred.resolve();
    });
    return deferred.promise;
  }

  if ("<%= user.username %>" == "<%= post.user_name%>") {
    $(".delete").show();
  } else {
    $(".delete").hide();
  }

  Q()
    .then(getProfileUser)
    .then(getResponses)
    .done();

</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
