<style>
  body {
    background: #222;
  }

  .container {
    margin-top: 10%;
    width: 400px;
    max-width: 100%;
    height: auto;
  }

  .tabs .active {
    background-color: #000;
    color: white;
  }

  .tabs {
    cursor: pointer;
  }

  .form-container {
    padding: 40px;
    padding-top: 10px;
  }
</style>
<div class="container white z-depth-2">
  <ul class="tabs teal">
    <li class="tab col s6 m6 t_1 active">
      <a class="white-text"
         onclick="$('#login').show();$('.t_2').removeClass('active');$('#register').hide();$('.t_1').addClass('active');">
        <%= __("login") %>
      </a>
    </li>
    <li class="tab col s6 m6 t_2">
      <a class="white-text"
         onclick="$('#login').hide();$('.t_1').removeClass('active');$('#register').show();$('.t_2').addClass('active');">
        <%= __("register") %>
      </a>
    </li>
  </ul>
  <div id="login" class="col s12">
    <form class="col s12 form-login" onsubmit="signIn();return false;">
      <div class="form-container">
        <div class="row">
          <div class=" col s12">
            <label><%= __("username") %></label>
            <input name="username" type="text" class="validate" required/>

          </div>
        </div>
        <div class="row">
          <div class=" col s12">
            <label><%= __("password") %></label>
            <input name="password" type="password" class="validate" required/>

          </div>
        </div>
        <br>
        <center>
          <button class="btn waves-effect waves-light teal signIn" type="submit" name="action"><%= __("sign_in") %></button>
        </center>
      </div>
    </form>
  </div>
  <div id="register" class="col s12">
    <form class="col s12 form-register" onsubmit="signUp();return false;">
      <div class="form-container">
        <div class="row">
          <div class=" col s6">
            <label><%= __("fist_name") %></label>
            <input name="name" type="text" class="validate" required/>

          </div>
          <div class=" col s6">
            <label><%= __("last_name") %></label>
            <input name="lastname" type="text" class="validate" required/>

          </div>
        </div>
        <div class="row">
          <div class=" col s12">
            <label><%= __("username") %></label>
            <input name="username" type="text" class="validate" required/>
          </div>
        </div>
        <div class="row">
          <div class=" col s12">
            <label><%= __("password") %></label>
            <input name="password" type="password" class="validate" required/>
          </div>
        </div>
        <center>
          <button class="btn waves-effect waves-light teal signUp" type="submit" name="action"><%= __("sign_up") %></button>
        </center>
      </div>
    </form>
  </div>
</div>
<script>
  $('#login').show();
  $('#register').hide();

  function signIn() {
    $.ajax({
      method: "POST",
      url: "/user/login",
      data: $('.form-login').serialize()
    })
      .done(function (user) {
        verifyLoginAndRedirect(user);
      });
  }

  function verifyLoginAndRedirect(user) {
    if (user !== null && typeof user.idUser !== "undefined") {
      parent.location.href = "/posts";
    } else {
      alert("<%= __('error_try_again') %>");
    }
  }

  function signUp() {
    $.ajax({
      method: "POST",
      url: "/user/register",
      data: $('.form-register').serialize()
    })
      .done(function (user) {
        verifyLoginAndRedirect(user)
      });
  }
</script>
