<!DOCTYPE html>
<html>
<head>
  <title>New Sails App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/q.js/0.9.2/q.js"></script>
  <style>
    body {
      background: #222;
    }

    .card-action {
      border: none !important;
    }

    #posts {
      margin: 2%
    }

    h2 {
      margin: 3%
    }
    .post_content_p{
      height: 120px;
      overflow-y: auto;
    }
  </style>
</head>
<body>
<%- body %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
